{% assign document = post | default: page %}
{% if document.read_time or document.show_date %}
  <p class="page__meta{% if include.type == 'post' %} page__meta-post{% endif %}">
    {% if document.show_date and document.date %}
      {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
      <span class="page__meta-date">
        <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
        {%- if include.type == 'post' -%}<span class="page__meta-label">post</span>{%- endif -%}
        <time datetime="{{ document.date | date_to_xmlschema }}">{{ document.date | date: date_format }}</time>
      </span>
    {% endif %}

    {% if include.type == 'post' and document.show_date and document.last_modified_at %}
      <span class="page__meta-date">
        <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
        <span class="page__meta-label">update</span>
        <time datetime="{{ document.last_modified_at | date_to_xmlschema }}">{{ document.last_modified_at | date: date_format }}</time>
      </span>
    {% endif %}

    {% if include.type != 'post' and document.read_time and document.show_date %}<span class="page__meta-sep"></span>{% endif %}

    {% if document.read_time %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
      {% assign words = document.content | strip_html | number_of_words %}

      <span class="page__meta-readtime">
        <i class="far fa-fw fa-clock" aria-hidden="true"></i>
        {%- if include.type == 'post' -%}<span class="page__meta-label">read</span>{%- endif -%}
        <span class="page__meta-value">
          {%- if words < words_per_minute -%}
            {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
          {%- elsif words == words_per_minute -%}
            1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
          {%- else -%}
            {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
          {%- endif -%}
        </span>
      </span>
    {% endif %}
  </p>
{% endif %}
