---
layout: archive
---

{{ content }}

{% assign sorted_cats = site.categories | sort %}

{% assign categories_max = 0 %}
{% for category in sorted_cats %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  <li>
    <a href="{% link _pages/category_archive.md %}">
      <strong>전체</strong> <span class="taxonomy__count">{{ site.posts.size }}</span>
    </a>
  </li>
  {% for category in sorted_cats %}
    <li>
      <a href="{{  category[0] }}">
        <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for category in sorted_cats %}
  <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category[0] }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in category.last %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
